.containerbusca {
  width: 90%;
  margin: auto;
  height: auto;
  background-color: transparent;
  text-align: center;
  position: relative;
  margin-top: 30px;
}

.containerbusca input {
  /* margin-left: 5%; */
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.095);
  font-size: 20px;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 15px;
  font-size: 25px;
}

/* clears the ‘X’ from Internet Explorer */
.containerbusca input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.containerbusca input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
.containerbusca input[type="search"]::-webkit-search-decoration,
.containerbusca input[type="search"]::-webkit-search-cancel-button,
.containerbusca input[type="search"]::-webkit-search-results-button,
.containerbusca input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.svgSearch {
  position: absolute;
  top: 38%;
  right: 2%;
  font-size: 30px;
}

.containerbusca input::placeholder {
  text-align: center;
  font-size: 30px;
}

.butao {
  margin-top: 50px;
  /* background-color: black; */
}

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  gap: 15px;
  margin-top: 50px;
  width: 90%;

}

.posterimg {
  width: 100%;
}

.allcontainer {
  width: 100%;
  height: auto;
  min-height: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
}
.backdrop{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, black);
  display: flex;
  align-items: flex-end;

}
.metadediv{
  width: 100%;
  height: 30%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.maindivimg{
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  height: 380px;
  background-position: center center;
  border-radius: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.2s all;
}
.maindivimg:hover{
  transform: scale(1.04);
}
.infodiv{
  display: flex;
  width: 60%;
  /* background-color: red; */
  justify-content: space-between;
}
.release_date{
  font-size: 12px;
}
.vote_average{
  font-size: 12px;
}
.h3title{
  font-size: 15px;
  color: white;
  font-weight: 600;
}
.footercontainer{
  width: 90%;
}
.containerdocontainer{
  width: 100%;
  display: flex;
  justify-content: center;
}
.spannotfound{
  font-size: 15px;
  position: absolute;
  top: 0;
  font-weight: 700;
}
@media screen and (max-width:1450px) {
  .gridcontainer{
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width:1200px) {
  .gridcontainer{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width:850px) {
  .gridcontainer{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width:650px) {
  .gridcontainer{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }
  .containerbusca input{
    font-size: 20px;
  }
  .containerbusca input::placeholder{
    font-size: 20px;
  }
  .svgSearch{
    display: none;
  }
  .containerbusca input{
    height: 70px;
  }
}
@media screen and (max-width:400px) {
  .gridcontainer{
    grid-template-columns: repeat(1, 1fr);
  }
}