@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
button{
  cursor: pointer;
}
:root {
  --blue: #007bfffd;
  --gray: rgb(24, 27, 31);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  padding: 0;
}

.maincontainer {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divsurlfilmesa {
  height: 300px;
  padding-right: 15px;
  transition: 0.2s transform;

}
.firstli {
  color: white;
  border-bottom: 1px solid var(--blue);
}
.tocansado {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
  background-repeat: no-repeat;
  cursor: pointer;


}

.divsurlfilmesa:hover {
  transform: scale(0.95);

}

.mainPost {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.blackmodal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.495), rgb(0, 0, 0));
}

.blackmodala {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.888), rgba(0, 0, 0, 0.848), rgb(0, 0, 0));
  z-index: 100;

}
.absolute{
  position: absolute;
}
.containerdsfa {
  width: 90%;
  background-color: transparent;
  height: auto;
  display: flex;
}

.gradientto {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, black);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.filmslidedata {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.titlename {
  width: 100%;
  font-size: 14px;
}
.releevote {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: rgba(250, 246, 246, 0.438);
}
/* .teste{
  width: 400px;
  height: 400px;
  background-color: red;
  border: 1px solid black;
} */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}