.headerdiv {
    width: 100%;
    background-color: transparent;
    height: 100px !important;
    color: black;
    z-index: 999;
    border-bottom: 1px solid rgba(128, 128, 128, 0.27);
    color: white;
    /* position: absolute; */


}

.headerdiv2 {
    width: 100%;
    background-color: transparent;
    height: 90px !important;
    color: black;
    z-index: 100;
    color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.27);
    position: absolute;

}

.headerdiv3 {
    width: 100%;
    background-color: transparent;
    height: 90px !important;
    color: black;
    z-index: 100;
    color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.27);
    position: static;
}

.headerdiv h1 {
    color: white;
}

.headercontainer {
    width: 100%;
    margin: auto;
    display: flex;
    height: 100%;
}

.headercontainer2 {
    width: 90%;
    margin: auto;
    display: flex;
    height: 100%;
}

.headercontainerf1,
.headercontainerf2 {
    width: 50%;
    align-items: center;
    display: flex;
}

.headercontainerf2 {
    justify-content: flex-end;
}

.headerlogo {
    margin-right: 40px;
    font-family: 'Bebas Neue', cursive;

}

.ul {
    /* background-color: red; */
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
}

.li {
    display: inline;
    color: rgba(255, 255, 255, 0.668);
    margin-right: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: red; */
    width: 80px;
    cursor: pointer;
    justify-content: center;
}

.iconsearch {
    margin-right: 20px;
}

.icon {
    width: 40px;
    color: rgba(255, 255, 255);
}

.minhaconta {
    color: white;
    /* margin: auto; */
    font-size: 13px;
    font-weight: 800;
}

.butao {
    width: 150px;
    height: 50px;
    /* background-color: red; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.usericon {
    margin-left: 0px;
    width: auto;
    margin-right: 10px;
}

@media screen and (max-width:950px) {
    .ul {
        display: none;
    }

    .headercontainerf1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }

    .headerlogo {
        margin-right: 0;
        font-size: 25px;
    }

    .iconsearch {
        margin: 0;
    }

    .headercontainerf2 {
        display: none;
    }
    
    
    .mnbled{
        height: 20%;
        width: 100%;
        border: 1px solid transparent;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.2s all;
    }
    .mnbled:hover{
        border-bottom: 1px solid var(--blue);
        /* background-color: rgba(50, 50, 50, 0.436); */
    }
    .menu_mobile_container{
        width: 100%;
        height: 90%;
    }
}

@media screen and (max-width:500px) {
    .headercontainerf2 {
        display: none;
    }

    .headerdiv2 {
        height: 60px !important;
    }


}