.mainPostContainer {
    width: 90%;
    /* background-color: red; */
    height: auto;
    z-index: 150;
    /* position: absolute; */
    display: flex;
    align-items: center;
    /* margin-top: 3%; */
    flex-direction: column;

}

.posterheadflex {
    width: 100%;
    display: flex;
    height: auto;
    margin-top: 3%;

}

.posterheadflex1 {
    width: 15%;
    /* background-color: royalblue; */
    height: 100%;
}

.posterheadflex2 {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    /* background-color: gold; */
}

.imgposter {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    /* height: 400px; */
    /* background-size: cover; */
    /* object-fit: cover; */


}

.lose {
    color: rgba(169, 169, 169, 0.689);
}

.filmdata {
    margin-top: 20px;
    height: 30px;
    display: flex;
    width: 100%;
    align-items: center;
}

.filmdata span {
    margin-right: 20px;
}

.description {
    width: 100%;
    margin-top: 20px;
}

.description p {
    line-height: 25px;
    /* letter-spacing: 1.5px; */
    font-size: 14px;
    max-width: 70%;
}

.posterheadflexC {
    margin-left: 3%;
    width: 1000px;
}

.buttonsPost {
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    height: 90px;
}

.btn1 {
    height: 50px;
    width: 130px;
}

.btn2 {
    height: 50px;
    width: 190px;
}

.buttonsPost button {
    border-radius: 20px;
    border: none;
    margin-right: 15px;
    letter-spacing: 2px;
}

.btn1 {
    font-size: 13px !important;
}

.btn3,
.btn4 {
    width: 50px;
    height: 50px;

}

.movieTitle {
    font-size: 55px;
    margin-top: 10px;
}

.duration {
    font-size: 20px;
    float: left;
    margin-top: -3px;
    margin-right: 5px;
}

.starspan {
    margin: 0 !important;
}

.starImg {
    font-size: 20px;
    float: left;
    margin-top: -3px;
    margin-right: 5px;
}

.deiz {
    font-size: 12px;
}

.generos {
    margin-right: 10px !important;
    padding: 0;
    font-size: 13px;
    font-weight: 300;

}

.buttonLarge {
    width: 100%;
    background-color: var(--blue);
    height: 50px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-size: 17px;
}

.divchooseDUB {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.013);
    height: 430px;
    display: flex;
}

.backdrop {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.firstdv {
    background-color: transparent;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.h1Idioma {
    width: 400px;
    font-size: 60px;
    margin-left: 5%;
    background: -webkit-linear-gradient(#007bfffd, #00ff9dc7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divbuttonidiom {
    width: auto;
    margin-left: 5%;
    display: flex;
    margin-top: 20px;
}

.divbuttonidiom button {
    width: 180px;
    height: 60px;
    margin-right: 20px;
    border-radius: 30px;
    border: none;
    background-color: #303640;
    letter-spacing: 3px;
    color: rgb(198, 197, 197);
    font-weight: 700;



}

.backdrop {
    /* background-color: red; */
}

.backdrop button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--gray);
    border-radius: 25px;
    color: #00000008;
}

.specialsvgback {
    width: 900px;
    /* height: 100%; */
    display: flex;
    justify-content: flex-end;
}

.last {
    width: auto;
    height: 100%;
}

.similardiv {
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
}

.commentepublicrate {
    width: 100%;
    background-color: black;
    min-height: 450px;
    display: flex;
    margin-top: 20px;
}

.flex1cp {
    width: 40%;
}

.flex2cp {
    /* background-color: antiquewhite; */
    width: 60%;
    /* height: 50px; */
    display: flex;
    justify-content: center;
}

.spancomentarios {
    font-size: 35px;
    padding-top: 20px;
    display: inline-block;
}

.commentflex {
    display: flex;
}

.commentflex1 {
    width: 75%;
    /* margin-top: 20px; */
}

.commentflex2 {
    width: 25%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: center;

}

.textarea {
    width: 100%;
    height: 85px;
    border-radius: 20px;
    border: none;
    resize: none;
    background-color: var(--gray);
}

.commentsvg {
    left: 18px;
    position: absolute;
    color: gray;
    margin-right: 20px;
    font-size: 18px;
}

.buttontext {
    margin-left: 25px;
}

.commentflex2 button {
    /* margin: 5px; */
    border-radius: 20px;
    height: 50%;
    background-color: var(--gray);
    margin-left: 10px;
    position: relative;
    border: none;
    margin-right: 10px;
    letter-spacing: 1.5PX;
    font-size: 12px;

}

.margincommentdv {
    /* background-color: red; */
    margin-top: 20px;
}

.commentsection {
    width: 100%;
    /* background-color: red; */
    min-height: 300px;
    margin-top: 20px;
}

.flexcommentsection {
    width: 100%;
    height: auto;
    /* background-color: aliceblue; */
    margin-bottom: 15px;
    border-radius: 20px;
    display: flex;
}

.vint {
    width: 10%;
    background-color: aqua;
    background-image: url('https://vizer.tv/img/userPic.png');
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
    height: 60px;
}

.oitent {
    background-color: black;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.oitent50 {
    height: auto;
    display: flex;
    align-items: flex-end;

}

.oitents1 {
    margin-right: 10px;
    font-size: 18px;
    color: rgb(147, 147, 147);
    justify-self: flex-end;
    font-weight: 700;
}

.oitent502 {
    align-items: center;

}

.oitents2 {
    font-size: 10px;
    margin-right: 10px;
    background-color: var(--gray);
    padding: 5px;
    border-radius: 20px;
}

.oitents3 {
    font-size: 12px;
    padding-bottom: 3px;
}

.commentparagraph {
    font-size: 13px;
    margin-top: 5px;
    max-width: 95%;
}

.opniaopublica {
    margin-top: 20px;
    display: inline-block;
    font-size: 35px;
}

.subh3 {
    margin-top: 20px;
    color: rgb(169, 169, 169);
    font-weight: 300;
}

.spanproduction {
    margin-right: 10px;
}

.spanproductionM {
    display: inline-block;
    margin-top: 20px;
    color: rgba(169, 169, 169, 0.865);

}

.h3sub2 {
    margin-top: 50px;
    color: rgb(169, 169, 169);
}

.h4sub {
    margin-top: 5px;
    color: rgb(169, 169, 169);
}

.h6sub {
    margin-top: 20px;
    color: rgb(169, 169, 169);
    font-size: 15px;
    margin-bottom: 5px;
}

.subparagraph {
    color: rgb(169, 169, 169);
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.flex2cpContainer {
    width: 95%;
    height: 100%;
}

.containernocomment {
    width: 100%;
    /* background-color: red; */
    height: 60%;
    display: flex;
    justify-content: center;
}

.nocommentspan {
    margin-top: 5%;
    color: rgba(255, 255, 255, 0.91);
}

.h3series {
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 13px;
}

.tempdivs {
    width: 100%;
    height: 50px;
    /* background-color: red; */
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.tempdivsspan {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
}

.divrecommendedseries {
    width: 100%;
    /* background-color: red; */
    height: 50px;
    align-items: center;
    display: flex
}

.spanrecommendseries {
    font-size: 30px;
    font-weight: 500;
    font-weight: 300;
}

.similardivseries {
    margin-top: 10px;
}

.templength {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background-color: rgb(45, 50, 58);
    display: inline-block;
    text-align: center;
    line-height: 35px;
}

.tempdivsflex {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.buttonsPost button {
    font-size: 12px !important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(113, 125, 138, .2);

}

.svgimgbw {
    font-size: 20px;
}

.seguirdiv {
    background-color: #037cfe50 !important;
}

.spantrailer svg {
    position: absolute;
    right: -22px;
    top: -1px;
    font-size: 20px;
}

.spantrailer {
    position: relative;
}

.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover {
    background-color: rgba(113, 125, 138, 0.577);
}

.seguirdiv:hover {
    background-color: #70b5ff50 !important;
}

.headercontainerf {
    width: 90%;

}

.morehc {
    width: 100%;
    display: flex;
    justify-content: center;
}

.filmseriebody {
    width: 100%;
    display: flex;
    justify-content: center;
}

.filmseriecontainer {
    width: 90%;
    /* background-color: red; */
    height: 300px;
}

.h3filmserie {
    font-size: 28px;
    font-weight: 300;
    color: white;
    margin-top: 20px;
}

.containerdsfa {
    width: 90%;
    background-color: transparent;
    height: auto;
    display: flex;
}

.titlename {
    width: 100%;
    font-size: 14px;
}

.gradientto {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent, black);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.filmslidedata {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.releevote {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(250, 246, 246, 0.438);
}

.start {
    font-size: 30px;
}

.divsurlfilmesa2 {
    width: 100%;
    height: 300px;
    /* background-color: red; */
}

.bodydiviflmes2 {
    margin-top: 100px;
}

.filmandseriedivfiltersearch {
    width: 100%;
    height: 60px;
    /* background-color: red; */
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;

}

.searchdivsf {
    width: 50%;
    /* background-color: blue; */
    height: 100%;
    position: relative;
}

.defaultfs {
    height: 30px;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 16.6%;
    border: 1px solid black;
    /* background-color: red; */
    flex-direction: column;

}

.fs1 {
    width: 12%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchinput {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

.searchinput::placeholder {
    color: rgba(250, 246, 246, 0.438);
    text-align: start;
    /* margin: auto; */
}

.containerseatchdiv {
    width: 100%;
    display: flex;
}

.spanpesquisesearch {
    position: absolute;
    font-weight: 900;
    color: rgb(147, 147, 147);
    font-size: 13px;
    top: -10px;
    text-transform: uppercase;
    letter-spacing: 1.3px;

}

.svgiconsearch {
    position: absolute;
    right: 0;
    top: 40%;
    font-size: 20px;
    color: rgba(250, 246, 246, 0.438);
}

.sliderRange {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: rgb(80, 80, 80);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.containerdfts {
    width: 70%;
    display: flex;
}
.header50top{
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}
.containerfilmargin{
    width: 80%;
/* background-color: blue; */
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.containerfilmargin2{
    align-items: center;
    justify-content: center;
}
.filtersvg{
    font-size: 25px;
}
.filterdivflexsvg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridfilmserie{
    grid-template-columns: repeat(7,1fr);
    width: 100%;
    height: auto;
    /* row-gap: 20px; */
    display: grid;
    /* grid-template-rows: 150px; */
    gap: 15px;
}
.griddiv{
    background-color: red;
    height: 350px;
    background-size: cover;
    background-position: center center;
border-radius: 20px;
transition: 0.2s;
}
.griddiv:hover{
transform: scale(1.05);
}
.paginationdiv{
    width: 100%;
    height:150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.paginationcontentdiv{
    min-width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: #0d0e11;
    margin-right: 20px;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    color: rgb(198, 197, 197);
    align-items: center;
    transition: 0.2s all;
    cursor: pointer;
}
.paginationcontentdiv:hover{
    background-color: #383c47;
}

.footerfs{
    width: 100% !important;
}
.cntn{
    margin-top: 30px;
}
.option{
    height: 50px;
}